@model Ocean.Inside.Project.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

<div class="box bg-white offset-top-25">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        <br />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group form-group-xs">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group form-group-xs">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="form-group form-group-xs">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
