@using Ocean.Inside.Project.Utils
<!DOCTYPE html>
<html lang="en" class="wide smoothscroll">
<head>
    <title>Океан внутри</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="Description" content="Туры и путешествия с компанией Океан Внутри, групповые и пакетные туры. Вылеты из Минска и Киева! Актуальные даты туров!" />

    @*@Styles.Render("~/bundles/styles")

        @Scripts.RenderFormat(@"<script src=""{0}"" async></script>", "~/bundles/scripts")*@

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] ||
                function () {
                    (i[r].q = i[r].q || []).push(arguments);
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-105040249-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/css.css?family=Lato:400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="/css/style.css">

    @Scripts.RenderFormat(@"<script src=""{0}""></script>", "~/bundles/vkapi")

    <script type="text/javascript">
        VK.init({ apiId: 6125031, onlyWidgets: true });
    </script>

    <meta property="og:type" content="website">
    <meta property="og:title" content="Океанвнутри">
    <meta property="og:description" content="Туры и путешествия с компанией Океан Внутри, групповые и пакетные туры. Вылеты из Минска и Киева!">
    <meta property="og:url" content="okeanvnutry.by">
    <meta property="og:image" content="http://okeanvnutry.by/images/Layout/logo.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="&#64;ValodzVysotski">
    <meta name="twitter:title" content="Океан внутри">
    <meta name="twitter:description" content="Туры и путешествия с компанией Океан Внутри, групповые и пакетные туры. Вылеты из Минска и Киева!">
    <meta name="twitter:image" content="http://okeanvnutry.by/images/Layout/logo.png">
    <meta name="twitter:image:alt" content="океанвнутри">

    <link rel="publisher" href="https://plus.google.com/+UladzimirVysotski">
</head>
<body>
    <div class="page text-center">
        <header class="page-header slider-menu-position">
            <div class="rd-navbar-wrap">
                <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" class="rd-navbar rd-navbar-transparent rd-navbar-dark-stuck" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-panel">
                            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                            <div class="rd-navbar-brand veil reveal-md-block"><a href="@Url.Action("Index", "Home")" class="brand-name"><img height="55" src="/images/Layout/logo.png" alt="logo"></a></div>
                            <div class="rd-navbar-brand veil-md reveal-tablet-md-inline-block"><a href="@Url.Action("Index", "Home")" class="brand-name"><img height="45" src="/images/Layout/logo.png" alt="logo"></a></div>
                        </div>
                        <div class="rd-navbar-nav-wrap">
                            <ul class="rd-navbar-nav">
                                <li class='@Html.IsActive("Home", "Index")'>
                                    @Html.ActionLink("Главная", "Index", "Home")
                                </li>
                                <li class='@Html.IsActive("Tour", "HotelTours")'>
                                    @Html.ActionLink("Туры", "HotelTours", "Tour")
                                </li>
                                <li class='@Html.IsActive("Tour", "GroupTours")'>
                                    @Html.ActionLink("Групповые туры", "GroupTours", "Tour")
                                </li>
                                <li class='@Html.IsActive("Gallery", "Index")'>
                                    @Html.ActionLink("Галерея", "Index", "Gallery")
                                </li>
                                @*<li class='@Html.IsActive("Home", "Index")'>
                                        @Html.ActionLink("Блог", "Index", "Home")
                                    </li>*@
                                <li class='@Html.IsActive("Home", "About")'>
                                    @Html.ActionLink("О нас", "About", "Home")
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            @if (Request?.Url?.ToString().Contains("account") == false
                && Request.Url.ToString().Contains("Error") == false)
            {
                @Html.Partial("_HeaderSliderPartial")
            }
        </header>


        @RenderBody()

        <!-- VK Widget -->
        <div align="center">
            <div id="vk_groups"></div>
            <script type="text/javascript">
                VK.Widgets.Group("vk_groups", { mode: 3, width: screen.width - 400 }, 56790707);
            </script>
        </div>

        <footer class="page-footer section-top-80 section-bottom-34 section-lg-bottom-15 text-sm-left">
            <div class="shell">
                <div class="range range-xs-center">
                    <div class="cell-sm-8 cell-md-12">
                        <div class="range range-xs-center">
                            <div class="cell-sm-6 cell-md-3 cell-lg-4 cell-md-push-1 text-center">
                                <a class="offset-top-20 inset-lg-right-80" href="@Url.Action("Index", "Home")"><img height="60" src="/images/Layout/logo.jpg" alt="logo"></a>
                                <div class="offset-top-20 inset-lg-right-80">
                                    <p class="text-small">Только о двух вещах мы будем сожалеть на смертном одре - что мало любили и мало путешестовали. &#13;&#10; (с) Марк Твен</p>
                                </div>
                            </div>
                            <div class="cell-sm-6 cell-md-3 cell-lg-2 cell-md-push-4">
                                <p class="text-big text-gray-base text-center">Подписывайся</p>
                                <div class="offset-top-20 text-center">
                                    <ul class="list-inline">
                                        <li class="text-center"><a target="blank" href="https://www.facebook.com/okeanvnutry/" class="icon icon-square icon-filled-gallery fa fa-facebook-f text-gray"></a></li>
                                        <li class="text-center"><a target="blank" href="https://www.instagram.com/okeanvnutry/" class="icon icon-square icon-filled-gallery fa fa-instagram text-gray"></a></li>
                                        <li class="text-center"><a target="blank" href="https://vk.com/okeanvnutry" class="icon icon-square icon-filled-gallery fa fa-vk text-gray"></a></li>
                                    </ul>
                                </div>
                                <div class="offset-top-20 offset-md-top-40">
                                </div>
                            </div>
                            <div class="cell-xs-8 cell-sm-12 cell-md-6 offset-top-40 offset-md-top-0 cell-md-push-2">
                                <p class="text-big text-gray-base">Наши контакты</p>
                                <div class="offset-top-8 offset-sm-top-20">
                                    <address class="contact-info text-left">
                                        <div class="range range-xs-center">
                                            <div class="cell-sm-6">
                                                <div>
                                                    <p class="reveal-block text-small">
                                                        <a class="text-gray">
                                                            <span class="unit unit-horizontal unit-spacing-xs">
                                                                <span class="unit-left">
                                                                    <img src="/images/Layout/icon-01-16x21.png" width="16" height="21" alt="icon" class="img-responsive center-block offset-top-4">
                                                                </span><span class="unit-body">
                                                                    <span>РБ, г. Минск, ул. Короля 18, офис 1</span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="offset-top-20">
                                                    <p class="reveal-inline-block text-small">
                                                        <a href="tel:+375445498772" class="text-gray">
                                                            <span class="unit unit-middle unit-horizontal unit-spacing-xs">
                                                                <span class="unit-left">
                                                                    <img src="/images/Layout/icon-02-19x19.png" width="19" height="19" alt="icon" class="img-responsive center-block">
                                                                </span><span class="unit-body"><span>+375445498772</span></span>
                                                            </span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="cell-sm-6 offset-top-15 offset-sm-top-0">
                                                <div>
                                                    <p class="reveal-inline-block text-small">
                                                        <a href="tel:+375292595034" class="text-gray">
                                                            <span class="unit unit-middle unit-horizontal unit-spacing-xs">
                                                                <span class="unit-left">
                                                                    <img src="/images/Layout/icon-03-12x20.png" width="12" height="20" alt="icon" class="img-responsive center-block">
                                                                </span><span class="unit-body"><span>+375292595034</span></span>
                                                            </span>
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-top-110">
                    <div class="hr bg-gallery"></div>
                </div>
                <div class="range range-xs-center range-sm-justify offset-top-8">
                    <div class="cell-sm-5 cell-md-4 text-sm-left">
                        <p class="text-extra-small">Copyright &#169; <span id="copyright-year"></span> Travel & Tourism. All Rights Reserved.</p>
                    </div>
                    <div class="cell-sm-5 cell-md-4 text-sm-right offset-top-0">
                        <ul class="list-inline list-inline-8">
                            <li>
                                <p class="text-extra-small"><a href="../Home/privacy.html" class="text-gray">Privacy Policy</a></p>
                            </li>
                            <li>
                                <p class="text-extra-small"><a href="../Home/terms-of-use.html" class="text-gray">Terms of Use</a></p>
                            </li>
                            <li>
                                <p class="text-extra-small"><a href="../Home/contacts.html" class="text-gray">Contact Support</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div id="form-output-global" class="snackbars"></div>
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
                    <button title="Share" class="pswp__button pswp__button--share"></button>
                    <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
                    <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
                <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__cent"></div>
                </div>
                <div class="pswp__counter"></div>
            </div>
        </div>
    </div>

    <div id="map" style="height: 400px; width: 100%"></div>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlnsjJLlThhNX_Jc5v3OwwSfSUXRNA49U&callback=initMap">
    </script>

    <script>
        function initMap() {
            var address = { lat: 53.9031779, lng: 27.5408612 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: address
            });
            var marker = new google.maps.Marker({
                position: address,
                map: map
            });

            var infowindow = new google.maps.InfoWindow({
                content: "<div>Турагенство 'Океан внутри' </div><div>ул. Короля 18, офис 1</div>"
            });

            infowindow.open(map, marker);

            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });

        }
    </script>

    <script src="/js/core.min.js"></script>
    <script src="/js/script.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>