@model Ocean.Inside.Project.Models.GroupTourViewModel

<h2 class="offset-top-25">Редактировать групповой тур</h2>

<div class="box bg-white offset-top-25" style="min-width: 45%">
    <form method="post" action="@Url.Action("EditGroupTour", "Tour")">
        @Html.AntiForgeryToken()

        <div class="form-group form-group-xs">
            <label for="Title" class="form-label">Заголовок</label>
            <input name="Title" id="Title" class="form-control" type="text" value="@Model.Title" />
        </div>

        <div class="form-group">
            <label for="Description" class="form-label">Описание</label>
            <textarea name="Description" id="Description" class="form-control" type="text">@Model.Description</textarea>
        </div>

        <div class="form-group form-group-xs">
            <label for="Duration" class="form-label">Количество дней</label>
            <input name="Duration" id="Duration" class="form-control" type="text" value="@Model.Duration" />
        </div>

        <div class="form-group form-group-xs">
            @Html.EnumDropDownListFor(model => model.CurrencyCode, null, new { @class = "form-control" })
        </div>

        <div class="form-group form-group-xs">
            <label for="Price" class="form-label">Цена</label>
            <input name="Price" id="Price" class="form-control" type="text" value="@($"{Model.Price:F0}")" />
        </div>

        <div class="form-group form-group-xs">
            @Html.LabelFor(m => m.IsHidden, "Спрятать", new { @class = "label form-label-outside text-big label" })
            @Html.CheckBoxFor(m => m.IsHidden, new { @class = "checkbox checkbox-inline checkbox-inline-right" })
        </div>

        <div class="form-group">
            <input type="submit" value="Применить" class="btn btn-success" />
            <input type="hidden" value="@Model.Id" name="Id" id="Id" />
        </div>
    </form>
</div>