@using Ocean.Inside.Project.Utils
@model Ocean.Inside.Project.Models.TourViewModel

<main class="page-content">
    <section class="section-34 section-md-bottom-45 bg-alabaster">
        <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-10 cell-sm-8 cell-md-12">
                    <div class="range range-xs-center list-inline-dashed-vertival">
                        <div class="cell-xs-6 cell-sm-5 cell-md-3">
                            <div>
                                <p class="text-extra-small text-silver-chalice text-italic text-uppercase text-spacing-200">ДАТЫ</p>
                            </div>
                            <div class="offset-top-0">
                                <p class="text-big text-ubold text-gray-base text-uppercase">
                                    @if (Model.CheckIns.Any())
                                    {
                                        @($"{Model.CheckIns.FirstOrDefault()?.Date:M} - {Model.CheckIns.FirstOrDefault()?.Date.AddDays(Model.Duration):M}")
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="cell-xs-6 cell-sm-5 cell-md-3 offset-top-40 offset-xs-top-0">
                            <div>
                                <p class="text-extra-small text-silver-chalice text-italic text-uppercase text-spacing-200">ДЛИТЕЛЬНОСТЬ</p>
                            </div>
                            <div class="offset-top-0">
                                <p class="text-big text-ubold text-gray-base text-uppercase">@Model.Duration дней</p>
                            </div>
                        </div>
                        <div class="cell-xs-6 cell-sm-5 cell-md-3 offset-top-40 offset-md-top-0">
                            <div>
                                <p class="text-extra-small text-silver-chalice text-italic text-uppercase text-spacing-200">ЦЕНА НА ОДНОГО</p>
                            </div>
                            <div class="offset-top-0">
                                <p class="text-big text-ubold text-gray-base text-uppercase">@($"{Model.CurrencyCode.CurrencyCodeToSymbol()}{Model.Price:F0}")</p>
                            </div>
                        </div>
                        <div class="cell-xs-6 cell-sm-5 cell-md-3 offset-top-40 offset-md-top-0">
                            <div>
                                <p class="text-extra-small text-silver-chalice text-italic text-uppercase text-spacing-200">ОТЕЛЬ</p>
                            </div>
                            <div class="offset-top-0">
                                <p class="text-big text-ubold text-gray-base text-uppercase">@Model.Hotel</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-70 section-md-bottom-80">
        <div class="shell">
            <div>
                <h3>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="glyphicon glyphicon-edit" href="@Url.Action("EditTour", "Tour", new { tourId = Model.Id })" alt="Редактировать тур" title="Редактировать"></a>
                    }
                    <span>Описание тура</span>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="glyphicon glyphicon-remove" href="@Url.Action("RemoveTour", "Tour", Model)" alt="Удалить тур" title="Удалить"></a>
                    }
                </h3>
            </div>
            <div class="offset-top-40 text-left">
                <div class="unit unit-horizontal unit-spacing-sm">
                    <div class="unit-body offset-top-8 text-center">
                        <p class="text-small text-ubold text-uppercase text-gray-base">@Model.Title, @Model.Place</p>
                    </div>
                </div>
                <div class="offset-top-12 inset-left-10 inset-right-10">
                    <div>
                        <hr class="hr bg-gallery">
                    </div>
                    <div class="offset-top-20">
                        <span class="text-bold text-silver-chalice">Отель: </span>
                        <span class="text-small text-silver-chalice">@Model.Hotel</span>
                    </div>
                    <div class="offset-top-20">
                        <span class="text-bold text-silver-chalice">Продолжительность: </span>
                        <span class="text-small text-silver-chalice">@Model.Duration дней</span>
                    </div>
                    <div class="offset-top-20">
                        <span class="text-bold text-silver-chalice">Дата начала: </span>
                        <span class="text-small text-silver-chalice">
                            @if (Model.CheckIns.Any())
                            {
                                @(Model.CheckIns.FirstOrDefault()?.Date.ToString("D"))
                            }
                        </span>
                    </div>
                    <div class="offset-top-20">
                        <span class="text-bold text-silver-chalice">Дата завершения: </span>
                        <span class="text-small text-silver-chalice">
                            @if (Model.CheckIns.Any())
                            {
                                @(Model.CheckIns.FirstOrDefault()?.Date.AddDays(@Model.Duration).ToString("D"))
                            }
                        </span>
                    </div>
                    <div class="offset-top-20">
                        <span class="text-bold text-silver-chalice">Цена: </span>
                        <span class="text-small text-silver-chalice">@($"{Model.CurrencyCode.CurrencyCodeToSymbol()}{Model.Price:F0}")</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a class="glyphicon glyphicon-plus" href="@Url.Action("AddImage", "Image", new { tourId = Model.Id })" alt="Добавить фото" title="Добавить фото"></a>
        }
        <div data-photo-swipe-gallery="gallery" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="5" data-stage-padding="20" data-loop="true" data-margin="6" data-mouse-drag="false" data-dots="true" data-nav="true" class="owl-carousel owl-carusel-inset-bottom owl-nav-type-3 owl-dots-primary">
            @foreach (var image in Model.GalleryImages)
            {
                <div class="owl-item">
                    <a data-photo-swipe-item="" data-size="1170x780" href="@Url.Content(image.Path)" class="thumbnail-rayen">
                        <span class="figure">
                            <img width="370" height="310" src="@Url.Content(image.Path)" alt="" class="img-responsive center-block">
                            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="glyphicon glyphicon-minus" href="@Url.Action("RemoveTourImage", "Tour", image)" alt="Удалить фото" title="Удалить фото"></a>
                            }
                            <span class="figcaption">
                                <span class="icon icon-xl fa fa-search-plus text-white"></span>
                            </span>
                        </span>
                    </a>
                </div>
            }
        </div>
        <div class="shell offset-top-45">
            <div>
                <h3>Забронировать тур</h3>
            </div>
            <div class="offset-top-0">
                <p class="text-small text-spacing-200 text-italic">Начиная с @($"{Model.CurrencyCode.CurrencyCodeToSymbol()}{Model.Price:F0}")</p>
            </div>
            <button type="button" data-toggle="modal" data-target="#recall" style="min-width:160px;" class="btn btn-primary">Перезвонить сейчас</button>
        </div>
    </section>
    <section class="section-34 section-lg-bottom-45 offset-top-80 bg-alabaster">
        <div class="shell">

            <div data-items="1" data-sm-items="2" data-stage-padding="5" data-loop="false" data-margin="30" data-mouse-drag="false" data-dots="true" data-nav="true" class="owl-carousel owl-carousel-sm owl-navs-offset-0 owl-dots-primary owl-nav-alabaster list-inline-dashed-vertival">
                @foreach (var otherTour in Model.OtherTours)
                {
                    <div class="owl-item">
                        <div>
                            <p class="text-extra-small text-silver-chalice text-italic text-uppercase text-spacing-200">Ещё тур</p>
                        </div>
                        <div class="offset-top-0">
                            <p class="text-big text-ubold text-uppercase"><a href="@Url.Action("HotelTour", "Tour", new { otherTour.Id })" class="text-gray-base">@otherTour.Title</a></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    @Html.Partial("_CallBox", Model.Title)
</main>